:root {
    --mat-table-row-item-outline-color: rgb(229, 231, 235);
    --mat-table-row-item-label-text-size: 14px;
    --mat-table-header-headline-size: 14px;
    --mat-dialog-container-min-width: 500px;
    --mat-dialog-with-actions-content-padding: 20px 24px 20px;
}
